<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cook Book</title>
	
	<link rel="stylesheet"  type="text/css" media="screen" href="bootstrap.css" />
	<link rel="stylesheet"  type="text/css" media="screen" href="bootstrap-responsive.css" />
	<link rel="stylesheet"  type="text/css" media="screen" href="style.css" />
	<script src="holder.js"></script>
	<script src="bootstrap.js"></script>
</head>
<body>
	<div class="navbar">
		<div class="navbar"> 
		<!--a class="logo" href="#" title="Company"></a-->
		
		<h1 class="pull-left">Cook Book</h2>
		
		<div class="form-search pull-right">
			<input type="text" class="input-medium search-query">
  			<button type="submit" class="btn">Search</button>
		</div>
		</div>
		<div class="navbar-inner">
		<ul class="nav nav-pills">
  			<li class="active"><a href="#">All</a></li>
			<li><a href="#">Main dishes</a></li>
			<li class="configure"><a href="#">Configure</a></li>
		</ul>
		</div>
	</div>
	
	<div class="container">
		<div class="row navbar-inner">
			
					<h5 class="navbar-form pull-left">All Recipes</h5>
			
					<div class="navbar-form pull-right">
						<a class="btn" href="#">Edit</a>
						<a class="btn" href="#">Delete</a>
					</div>

		</div>
			
			<div class="row show-grid">
				<div class="row-fluid">
					<ul class="thumbnails">
        				<li><a class="thumbnail" href="#"><img src="holder.js/140x140"></a></li>
	            		<li><a class="thumbnail" href="#"><img src="holder.js/140x140"></a></li>
						<li><a class="thumbnail" href="#"><img src="holder.js/140x140"></a></li>
						<li><a class="thumbnail" href="#"><img src="holder.js/140x140"></a></li>
						<li><a class="thumbnail" href="#"><img src="holder.js/140x140"></a></li>
						<li><a class="thumbnail" href="#"><img src="holder.js/140x140"></a></li>
        			</ul>
        		</div>
			</div>
		</div>
	</div>
	
	<div class="header">
		
    </div>
    
	<div class="content">
		
	</div>
	
	<div class="footer">
		<h5 class="copyright">2013 (c)</h5>
		<ul class="links">
			<li><a href="#">Info</a></li>
		</ul>
	</div>
</body>
</html>