
body {
	padding-top: 40px;
  	padding-bottom: 40px;
}

header {
	margin-bottom: 62px;
}

.affix-top {
	margin-bottom: -42px !important;
}

.affix {
	top: 0;
	left: 0;
	right: 0;
}

.affix .navbar-inner {
	z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
	border-width: 0 0 1px; /* drop the border on the fixed edges */
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}

.brand {
  	display: none !important;
}

@media (min-width: 1870px) {

	.affix .nav-collapse {
		margin-left: 367px;
		margin-right: 367px;
	}
}

@media (min-width: 1280px) {

	.affix .nav-collapse {
		margin-left: 56px;
		margin-right: 56px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {

	.thumbnails {
		margin-left: 0 !important;
	}
}


@media (min-width: 768px) and (max-width: 979px) {
	
	.thumbnails {
		margin-left: 8px !important;
	}

	.brand {
		display: block !important;
	}

	.navbar-search {
		float: none !important;
		display: inline-block;
		margin-left: 20px;
		width: 70%;
	}

	.navbar-search input {
		width: 94%;
	}
}

@media (max-width: 767px) {

	.navbar-search {
		float: left !important;
	}
}
